@model LoginRequest

@{ ViewData["Title"] = "Sign in"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeneratorCV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GeneratorCV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="d-flex justify-content-center">
                <div class="card col-4">
                    <div class="card-body">
                        <div class="card-title"><h3>Sign in</h3></div>
                        <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                            <label asp-for="Login"></label> <br />
                            <input type="text" asp-for="Login" /> <br />
                            <span class="small" asp-validation-for="Login"></span>
                            <br />

                            <label asp-for="Password"></label><br />
                            <input type="password" asp-for="Password" /><br />
                            <span class="small" asp-validation-for="Password"></span>

                            <input type="text" asp-for="ReturnUrl" hidden />

                            <br />
                            <button type="submit" class="btn btn-dark">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
